body{
  background-image: url("../img/fond mode.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  margin-left: 125px;
  margin-right: 125px;

}

h1{
  text-align: center;
  color: #E72035;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  padding: 30px;
}

h2{
  color: #0137D3;
  margin-left: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  padding-top: 40px;
}

p{
  text-indent: 15px;
  font-family:'Patua One', cursive;
  font-size: 20px;

}



nav li a {
  display: block;
  color: #FF6AA1;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  font-family: 'Changa One', cursive;
}

nav li:hover{
  background-color: #0FB9AC;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
nav li {
  float: left;
}

nav{
  border: 3px black solid;
  border-right: none;
  border-left: none;
  width: 43%;
}

footer{
  text-align: center;
}
